
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap');

@layer base {
    body {
        @apply font-[Raleway];
        background-color: green;
    }
    li {
        @apply px-4;
        @apply cursor-pointer;
    }
}

.content-div {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 250px;
    
}

.content-div:hover {
    background-image: linear-gradient(
        to right,
        rgba(112, 157, 255, 0.8),
        hsla(242,74%, 61% ,0.8) 
    )!important;
    
}

.active {
    color: rgb(210, 105, 30);
}

.hero {
    position: relative;
}
.hero:after{
    content: "hello";
    width: 30px;
    height: 30px;
    background: blue;
    /* background:red url("http://www.gentleface.com/i/free_toolbar_icons_16x16_black.png") no-repeat -30px -50px fixed; */
    top: 50%;
    right: 100px;
    z-index: 100;
    position: absolute;
    display: inline-block;
}

.circle {
   
    border-radius: 50%;;
    display: inline-block;
    border-style: solid;
    border-width: 4px;
    border-color: rgba(210, 105, 30, 0.329);
    position: absolute;
    /* background-color: chocolate; */
    z-index: 1;
}


@tailwind base;
@tailwind components;
@tailwind utilities;
